<p>nav works!</p>

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span class="flashing">Welcome in Hebrew</span>
  <div class="spacer"></div>

  <header>
    <div class="container">
      <nav>
        <ul>
          <li >
            <a routerLink="/start"> START </a>
          </li>
          <li >
            <a routerLink="/owners"> Właściciele </a>
          </li>
          <li >
            <a  routerLink="/realEstates"> Lokale </a>
          </li>
          <li >
            <a  routerLink="/resolutions"> Uchwały </a>
          </li>
          <li >
            <a routerLink="/login"> Login </a>
          </li>
          <li >
            <a routerLink="/logout"> Logout </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

</div>
